<li class="clearfix-items">
<a href="/words/<%= proverb.id %>" class="clearfix-items-btn">
<div class="loop-article">
  <h2 class="area">
    <%= proverb.proverb %>
  </h2>
  <h2 class="owner-area">
    <%= proverb.owner %>
  </h2>
</div>
</a>
</li>
